/*
    PATRICIA's CSS File
    July 14th, 2015
*/

section.module.parallax {
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h2, section.module.parallax h3 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
  line-height: 300px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

section.module.parallax {
  background-image: url("https://cloud.githubusercontent.com/assets/13473751/9349423/c8e1704a-45fa-11e5-817e-c4d53dec7f80.jpg");
}

section.module.parallax-1 {
    background-image: url("https://cloud.githubusercontent.com/assets/13473751/9349439/c90d5fe8-45fa-11e5-8787-103307668425.png");    
    -webkit-column-span: all;
    column-span: all;
    color: rgba(255, 255, 255, 0.9);
    font-size: 50px;
    line-height: 300px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}

section.module.parallax-2 {
  background-image: url("https://cloud.githubusercontent.com/assets/13473751/9349419/b03c3f34-45fa-11e5-98e6-03c752671fe2.jpg");
    -webkit-column-span: all;
    column-span: all;
    color: rgba(255, 255, 255, 0.9);
    font-size: 50px;
    line-height: 300px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}

section.module.parallax-3 {
  background-image: url("https://cloud.githubusercontent.com/assets/13473751/9349412/a7a51f62-45fa-11e5-8b48-9a8f97b8e9fc.jpg");
}

section.module.parallax-4 {
  background-image: url("https://cloud.githubusercontent.com/assets/13473751/9349414/ac8a5b8c-45fa-11e5-83ef-14eb0a6e9c2b.jpg");
}

@media all and (min-width: 600px) {
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h2 {
    font-size: 150px;
  }
  section.module.parallax h3 {
    font-size: 120px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 200px;
  }
}

body {
    background-color: #000000;
    font-size: 18px;
    color: #FFFFFF;
    font-family: "Droid Sans", "Arial";
    margin: 0px auto;
    width: 1200px;
    PADDING-LEFT: 25px;
    PADDING-RIGHT: 25px;
}

#menu {
    height: 25px;
    color: #FFFFFF;
    margin: 0px auto;
}

#community {
    -webkit-column-count: 2;
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 20px; 
    -moz-column-gap: 20px; 
    column-gap: 20px;
    -webkit-column-rule: 2px dotted gray; 
    -moz-column-rule: 2px dotted gray; 
    column-rule: 2px dotted gray;
}

h2 {
    -webkit-column-span: all;
    column-span: all;
}

#school {
    -webkit-column-count: 3;
    -moz-column-count: 3; 
    column-count: 3;
    -webkit-column-gap: 20px; 
    -moz-column-gap: 20px; 
    column-gap: 20px;
    -webkit-column-rule: 2px dotted gray; 
    -moz-column-rule: 2px dotted gray; 
    column-rule: 2px dotted gray;
}
