/*
    PATRICIA's CSS File
    July 14th, 2015
*/

section.module.parallax {
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h2, section.module.parallax h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 50px;
  line-height: 300px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

section.module.parallax {
  background-image: url("editcrop.jpg");
}

section.module.parallax-1 {
  background-image: url("sign.png");
}

section.module.parallax-2 {
  background-image: url("grad.jpg");
}

section.module.parallax-3 {
  background-image: url("pencils.jpg");
}

section.module.parallax-4 {
  background-image: url("code.jpg");
}

@media all and (min-width: 600px) {
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h2 {
    font-size: 150px;
  }
  section.module.parallax h3 {
    font-size: 120px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 200px;
  }
}

body {
    background-color: #000000;
    font-size: 18px;
    color: #FFFFFF;
    font-family: "Droid Sans", "Arial";
    margin: 0px auto;
    width: 1200px;
    PADDING-LEFT: 25px;
    PADDING-RIGHT: 25px;
}

#menu {
    height: 25px;
    color: #FFFFFF;
    margin: 0px auto;
}
